/local-storage
/dock.management
/dock
node_modules
dock.lock
yarn-error.log
*.db
.vscode/
.idea/
*.iml
.project
.classpath
/build/
/dist/
/coverage/
.env*
.env.local
.env.development.local
.env.production.local
npm-debug.log*
logs/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
/build/
