name: NPM Publish

on:
  release:
    types: [published]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: '22.20.0'
          registry-url: https://registry.npmjs.org/
      - run: npm ci
      - run: npm run build
      - run: |
          cd packages
          find . -maxdepth 1 -mindepth 1 -type d \( -path ./examples -o -path ./scripts \) -prune -o -type d -exec bash -c "cd '{}' && npm publish --access public" \;
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
